# 忽略缓存文件
__pycache__/
*.pyc

# 忽略生成的文件
static/barcodes/
static/delivery_orders/
static/labels/

# 忽略虚拟环境
venv/
env/

# 忽略打包文件
build/
dist/
*.egg-info/

# 忽略编辑器文件
.vscode/
.idea/
*.swp
*.swo

# 忽略系统文件
.DS_Store
Thumbs.dborder_system.db
